---
arts: [1,2,3,4,5,6]
crafts: [1,2,3,4,5,6,7,8,9,10]
grands: [1,2,3,5,6,7]
---
<html>

{% include head.html %}

<body>
  {% include nav.html %}
    <div class="container-fluid clearfix">
        <div class="header clearfix" id="top">
            {% include header.html %}
        </div>
        <div class="artist clearfix" id="artist">
            {% include artist.html %}
        </div>
        <div class="seperator art clearfix">
        </div>
        <div class="craftsman clearfix" id="craftsman">
            {% include craftsman.html %}
        </div>
        <div class="seperator grand clearfix">
        </div>
        <div class="grandfather clearfix" id="grandfather">
            {% include grand.html %}
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/smooth.js"></script>
</body>

</html>
