<div class="row-fluid">
    <div class="card title-card">
        <div class="card-block">
            <div class="text-xs-center">
                <h3 class="card-title display-3">Ezio Marcelli</h3>
            </div>
        </div>
    </div>
</div>
<div class="row header-images clearfix">
    <div class="images clearfix col-sm-offset-2 col-sm-10">
        <div class="row">
            <div class="image-and-caption">
                <a href="#artist"><img src="img/p2.jpg" class="img-circle" /></a>
                <p class="display-4 header-text">Artist.</p>
            </div>
            <div class="image-and-caption middle-one">
                <a href="#craftsman"><img src="img/c.jpg" class="img-circle" /></a>
                <p class="display-4 header-text">Craftsman.</p>
            </div>
            <div class="image-and-caption">
                <a href="#grandfather"><img src="img/dad-and-g.jpg" class="img-circle" /></a>
                <p class="display-4 header-text">Grandfather.</p>
            </div>
        </div>
    </div>
</div>
