$bg-colour: #E9EBEE;
$hr-colour: #6D3B6F;

$content-text-colour: #000;

$white-card-background: rgba(#FFF, 0.65);

$header-images-border-colour: rgba(96, 138, 167, 0.9);
$nav-link-colour: rgba(96, 138, 167, 1);
