// Style for Landing Page

.header {
  background: url("img/p1.jpg") no-repeat;
  background-size: cover;
  margin-top: -1em;
  min-height: calc(100vh + 1em);
  padding-top: 10vh;

}

.header-images {

  img {
    border: 0.125em solid;
    border-color: $header-images-border-colour;
    height: 15em;
    margin-top: 5em;

  }

  .image-and-caption {
    @include make-col();
    @include make-col-span(3);
    text-align: center;

    .header-text {
      color: $bg-colour;
      font-size: 2em;
    }
  }

}

.learn-more {
  @include auto-margins();
  background-color: $white-card-background;
  height: 3em;
  margin-top: 2em;
  width: 16.5em;

  .card-block {
    padding: 0;
    padding-top: 0.75em;
    text-align: center;

  }
}

.middle-one {
  @include auto-margins(1.5em);
}

.images {
  text-align: center;
}

.title-card {
  @include auto-margins();
  background-color: $white-card-background;
  min-width: 15em;
  width: 50%;

  .card-block {
    min-width: inherit;

  }

  p {
    font-size: 1.5em;

  }

}
